html{
    height: 100vh;
    width: 100vw;
}

body{
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenedor{
    margin-top: 20vh;
    background-color: salmon;
    height: 55vh;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

#contenedor2{
    background-color: white;
    border-radius: 35px;
    height: 95%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-image: url(img2.jpeg);
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    position: relative;
}

h1, p{
    color: white;
}

p{
    font-size: 24px;
    font-weight: bold;
}

h1{
    font-size: 44px;
}

#img1{
    width: 100px;
    height: 100px;
}

#btn1{
    border-radius: 35px;
    border: 0px;
}

#btn1 :active{
    transform: rotate(360deg);
    transition: all .5s ease;
}

#si, #no{
    border-radius: 15px;
    border-style: dotted;
}

@media only screen and (max-width: 1500px) {
    #contenedor{
        margin-top: 20vh;
        background-color: salmon;
        height: 500px;
        width: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
    }
}
